{% extends "base.bu.j2" %}

{% block storage_files %}
- path: /etc/rancher/k3s/config.yaml
  mode: 0600
  contents:
    inline: |
      token: "{{ k3s_token }}"
      bind-address: {{ private_ip }}
      node-ip: {{ private_ip }}
      advertise-address: {{ private_ip }}
      flannel-iface: enp7s0
{% endblock %}

{% block systemd_units %}
- name: mkfs-k3s-volume.service
  contents: |
    [Unit]
    Description=Create a filesystem on the k3s volume if it has none
    After={{ k3s_volume_device_unit }}
    Requires={{ k3s_volume_device_unit }}

    [Service]
    Type=oneshot
    RemainAfterExit=yes
    ExecStart=/bin/bash -c 'blkid {{ k3s_volume_device }} | grep -q TYPE || mkfs.xfs {{ k3s_volume_device }}'

- name: var-lib-rancher-k3s.mount
  enabled: true
  contents: |
    [Unit]
    Description=Mount the k3s data volume
    Requires=mkfs-k3s-volume.service
    After=mkfs-k3s-volume.service
    Before=k3s-setup.target

    [Mount]
    What={{ k3s_volume_device }}
    Where=/var/lib/rancher/k3s
    Type=xfs

    [Install]
    RequiredBy=k3s-setup.target

- name: k3s.service
  enabled: true
  contents: |
    [Unit]
    Description=Lightweight Kubernetes
    Documentation=https://k3s.io
    Requires=k3s-setup.target
    After=k3s-setup.target

    [Service]
    Type=notify
    ExecStartPre=-/sbin/modprobe br_netfilter
    ExecStartPre=-/sbin/modprobe overlay
    ExecStart=/usr/local/bin/k3s server
    KillMode=process
    Delegate=yes
    Restart=always
    RestartSec=5s
    TimeoutStartSec=0
    LimitNOFILE=1048576
    LimitNPROC=infinity
    LimitCORE=infinity
    TasksMax=infinity

    [Install]
    WantedBy=multi-user.target
{% endblock %}
